{% if paginator.total_pages > 1 %}

<table style="width:100%">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
    </colgroup>
<center>
    <nav class="pagination-wrap">
        <ul class="pagination">
                <tr>
                    <!-- Filler column -->
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        {% if paginator.previous_page %}
                            <center> <h3> <font size="5"> Previous page </font> </h3> </center>
                            <center>
                                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </center>
                        {% endif %}
                    </th>

                    <th>
                        {% if paginator.page_trail %}
                            <center> <h3> <font size="5"> Page trail </font> </h3> </center>
                            <center>
                                {% for trail in paginator.page_trail %}
                                    <li {% if page.url == trail.path %}class="active"{% endif %}>
                                        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                                    </li>
                                {% endfor %}
                            </center>
                        {% endif %}
                    </th>

                    <th>
                        {% if paginator.next_page %}
                            <center> <h3> <font size="5"> Next page </font> </h3> </center>
                            <center>
                                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </center>
                        {% endif %}

                        
                    </th>

                    <!-- Filler column -->
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </table>

        </ul>
    </nav>
</center>
</table>

{% endif %}
