<!doctype html>
<head>

  <!-- Meta -->
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% elsif post.title %}{{ post.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.url }}/feed.xml">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.url }}/atom.xml">

  <!-- Favicons -->
  <link rel="icon" href="{{ site.url }}/img/Graduation-Picture-Circle-Outlined.png">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  <style>
    .dark-mode-body {
      background-color: black;
      color: white;
    }
    
    .dark-mode-main {
      background-color: black;
      color: white;
    }
  </style>
</head>


<!-- <script src="/siteCookiesFunctions.js">
  window.onload = checkCookie();
</script> -->
<!-- <body onload="checkCookie()"></body> -->

<!-- <script type="text/javascript">
  function codeAddress() {
      alert('ok');
  }
  window.onload = codeAddress;
</script> -->

<script type="text/javascript">
  function testGlobalFunction()
  {
    console.log( "global func" );
  }
</script>

<script type="text/javascript">
  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }
  function eraseCookie(name) {   
      document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }
  // function checkCookie() {
  //     let user = getCookie("username");
  //     if (user != "" && user!= null) {
  //       alert("Welcome again " + user);
  //     } else {
  //       user = prompt("Please enter your name:","");
  //       if (user != "" && user != null) {
  //         setCookie("username", user, 30);
  //       }
  //     }
  // }
  // window.onload = checkCookie;


  // problem: on every page load it's resetting darkmode variable
  var darkmode = "";

  function checkCookie() {
    let darkmodeSaved = getCookie("darkmodeCookie");

    if (darkmodeSaved == "on") 
    {
      darkmode = "on";
      console.log( "DM on ", darkmode );
      setCookie( "darkmodeCookie", "on", 7 );
    } else {
      darkmode = "off";
      console.log( "DM off ", darkmode );
      setCookie( "darkmodeCookie", "off", 7 );
    }
  }

  // I think this takes a second so that's why it's not hitting first
  window.onload = checkCookie;

  window.addEventListener( 'load' , function() 
  {

  console.log( "Checked cookie" );
  console.log( darkmode );

  // var darkmode = "on";

  // This is the on start one time darkmode set
  if( darkmode == "off" || darkmode == "" )
  {
    console.log( "darkmode off, turning darkmode off " );
    if( document.getElementById("dark-mode-body") )
    {
      document.getElementById("dark-mode-body").classList.remove("dark-mode-body");
    }
    if( document.getElementById("top") )
    {
      document.getElementById("top").classList.remove("dark-mode-main");
    }
    if( document.getElementById("innerContainer") ) 
    {
      document.getElementById("innerContainer").classList.remove("dark-mode-main");
    }
    if( document.getElementById("footer") ) 
    {
      document.getElementById("footer").classList.remove("dark-mode-main");
    }
    if( document.getElementById("header") ) 
    {
      document.getElementById("header").classList.remove("dark-mode-main");
    }

    /*
    if( window.location.href == "https://jawniss.github.io/"

    console.log( document.getElementById("mainBody").style.backgroundImage );

    if( document.getElementById("mainBody").style.backgroundImage == "url(/img/Background-Image-Light.png)" )
    {
      document.getElementById("mainBody").style.backgroundImage="url(/img/Background-Image-Edmonton.png)";
    } else if ( document.getElementById("mainBody").style.backgroundImage == "url(/img/Background-Image-Edmonton.png)" ) {
      document.getElementById("mainBody").style.backgroundImage="url(/img/Background-Image-Light.png)";
    }
    */

    // darkmode is on so we gotta turn it on
  } else if( darkmode == "on" ) {
    console.log( "darkmode off, turning darkmode on " );

    if( document.getElementById("dark-mode-body") )
    {
      document.getElementById("dark-mode-body").classList.add("dark-mode-body");
    }
    if( document.getElementById("top") )
    {
      document.getElementById("top").classList.add("dark-mode-main");
    }
    if( document.getElementById("innerContainer") ) 
    {
      document.getElementById("innerContainer").classList.add("dark-mode-main");
    }
    if( document.getElementById("footer") ) 
    {
      document.getElementById("footer").classList.add("dark-mode-main");
    }
    if( document.getElementById("header") ) 
    {
      document.getElementById("header").classList.add("dark-mode-main");
    }
  } else {
    console.log( "Shouldn't be here " );

  }

  })

  testGlobalFunction();
</script>



<!-- <body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}" id="mainBody"> -->
<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}" id="mainBody">

  <!-- <script>
    console.log( document.getElementById("mainBody").style.backgroundImage );
  </script> -->

<div class="main container" id="top">
  <script>
    if( darkmode == "on" ) 
    {
      document.getElementById("top").classList.add("dark-mode-main");
    } else if( darkmode == "off" ) {
      document.getElementById("top").classList.remove("dark-mode-main");
    }
  </script>
  

  {% if site.enable_nav == true %}
  <nav class="navbar navbar-default navbar-fixed-top" id="header">
    <script>
      if( darkmode == "on" ) 
      {
        document.getElementById("header").classList.add("dark-mode-main");
      } else if( darkmode == "off" ) {
        document.getElementById("header").classList.remove("dark-mode-main");
      }
      
    </script>
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" style="font-family: Arial, Helvetica, sans-serif;">{{ site.admin_name }}</a>

              <button onclick="myFunction()">Toggle dark mode</button>

              <script>
              function myFunction() {

                // darkmode is on, so we gotta turn it off
                if( darkmode == "on" )
                {
                  darkmode = "off";
                  setCookie("darkmodeCookie", "off", 7);
                  console.log( "set cookie: ", getCookie( "darkmodeCookie" ) );


                  if( document.getElementById("dark-mode-body") )
                  {
                    document.getElementById("dark-mode-body").classList.remove("dark-mode-body");
                  }
                  if( document.getElementById("top") )
                  {
                    document.getElementById("top").classList.remove("dark-mode-main");
                  }
                  if( document.getElementById("innerContainer") ) 
                  {
                    document.getElementById("innerContainer").classList.remove("dark-mode-main");
                  }
                  if( document.getElementById("footer") ) 
                  {
                    document.getElementById("footer").classList.remove("dark-mode-main");
                  }
                  if( document.getElementById("header") ) 
                  {
                    document.getElementById("header").classList.remove("dark-mode-main");
                  }

                  // Instead of checking what it is, I could skip the check and just find URL and darkmode toggle status
                  // and change to the correct picture
                  if( document.getElementById("mainBody").style.backgroundImage == "url(/img/Background-Image-Light.png)" )
                  {
                    document.getElementById("mainBody").style.backgroundImage="url(/img/Background-Image-Edmonton.png)";
                  } else if ( document.getElementById("mainBody").style.backgroundImage == "url(/img/Background-Image-Edmonton.png)" ) {
                    document.getElementById("mainBody").style.backgroundImage="url(/img/Background-Image-Light.png)";
                  }

                  // darkmode is off so we gotta turn it on
                } else if( darkmode == "off" ) {
                  darkmode = "on";
                  setCookie("darkmodeCookie", "on", 7);
                  console.log( "set cookie: ", getCookie( "darkmodeCookie" ) );


                  if( document.getElementById("dark-mode-body") )
                  {
                    document.getElementById("dark-mode-body").classList.add("dark-mode-body");
                  }
                  if( document.getElementById("top") )
                  {
                    document.getElementById("top").classList.add("dark-mode-main");
                  }
                  if( document.getElementById("innerContainer") ) 
                  {
                    document.getElementById("innerContainer").classList.add("dark-mode-main");
                  }
                  if( document.getElementById("footer") ) 
                  {
                    document.getElementById("footer").classList.add("dark-mode-main");
                  }
                  if( document.getElementById("header") ) 
                  {
                    document.getElementById("header").classList.add("dark-mode-main");
                  }
                }
                
              }
              </script>

          </div>


          <!-- <div id="navbar" class="navbar-collapse collapse"> -->
          <div id="navbar" class="navPagination navbar-right">
            <!-- <ul class="nav navbar-nav navbar-right"> -->
              {% for item in site.nav_item %}
                <!-- <li> -->
                  <a id="{{ item.text }}" href="{{ item.url }}">{{ item.text }}</a>
                <!-- </li> -->
              {% endfor %}

              <script>
                if( window.location.href == "https://jawniss.github.io/" || window.location.href == "https://jawniss.github.io/#portfolio" 
                || window.location.href == "https://jawniss.github.io/page2/#portfolio" || window.location.href == "https://jawniss.github.io/page3/#portfolio" )
                {
                    // document.getElementById("page1").innerHTML = <a href="https://jawniss.github.io/#portfolio" class="active">1</a>;
                    document.getElementById("Home").className += "active";
                } else if ( window.location.href == "https://jawniss.github.io/restringing/" ) {
                    // document.getElementById("page2").innerHTML = <a href="https://jawniss.github.io/page2/#portfolio" class="active">2</a>;
                    document.getElementById("Restringing (badminton)").className += "active";
                } else if ( window.location.href == "https://jawniss.github.io/resume/" ) {
                    // document.getElementById("page3").innerHTML = <a href="https://jawniss.github.io/page3/#portfolio" class="active">3</a>;
                    document.getElementById("Resume").className += "active";
                } else if ( window.location.href == "https://jawniss.github.io/aboutme/" ) {
                    // document.getElementById("page3").innerHTML = <a href="https://jawniss.github.io/page3/#portfolio" class="active">3</a>;
                    document.getElementById("About me").className += "active";
                } else if ( window.location.href == "https://jawniss.github.io/contactme/" ) {
                    // document.getElementById("page3").innerHTML = <a href="https://jawniss.github.io/page3/#portfolio" class="active">3</a>;
                    document.getElementById("Contact me").className += "active";
                }
              </script>

            <!-- </ul> -->
          </div>
      </div>
  </nav>
  {% endif %}
