<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta -->
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% elsif post.title %}{{ post.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.url }}/feed.xml">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.url }}/atom.xml">

  <!-- Favicons -->
  <!-- <link rel="icon" href="{{ site.url }}/img/Graduation-Picture-Circle-Outlined.png"> -->
  <link rel="icon" href="https://johnaswong.ca/img/Graduation-Picture-Circle-Outlined.png">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  <style>
    /* Restringing and contact me pages have their own dark-mode styles need to change too */
    .dark-mode-body {
      background-color: rgb(44, 51, 58);
      color: rgb(216, 216, 216);
    }

    .dark-mode-body a {
      color: rgb(0, 238, 255);
    }

    .dark-mode-header-footer {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    .dark-mode-header-footer a {
      color: rgb(0, 238, 255);
    }

    .buttonGeneral {
      background-color: #ffffff;
      border: 2px solid #00e1ff;
      border-radius: 25px;
      color: rgb(0, 0, 0);
      padding: 3px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 0px 0px;
      cursor: pointer;
    }

    .buttonDarkmodeOff {
      background-color: rgb(0, 0, 0); 
      color: rgb(255, 255, 255); 
    }

    .buttonDarkmodeOn {
      background-color: white; 
      color: black; 
    }
  </style>
</head>

<!-- Global functions -->
<script type="text/javascript">
  const allDarkmodeElements = ["top", "innerContainer", "footer", "footer2", "header", "mainBody", "adminName", "restringingTable"];
  const bodyDarkmodeElements = ["top", "innerContainer", "mainBody", "restringingTable"];
  const headerFooterElements = ["footer", "footer2", "header", "adminName"];

  function turnDarkmodeOff()
  {
    for( var i = 0; i < allDarkmodeElements.length; ++i )
    {
      if( document.getElementById(allDarkmodeElements[i]) )
      {
        document.getElementById(allDarkmodeElements[i]).classList.remove("dark-mode-header-footer");
        document.getElementById(allDarkmodeElements[i]).classList.remove("dark-mode-body");
      }
    }
  }

  function turnDarkmodeOn()
  {
    for( var i = 0; i < bodyDarkmodeElements.length; ++i )
    {
      if( document.getElementById(bodyDarkmodeElements[i]) )
      {
        document.getElementById(bodyDarkmodeElements[i]).classList.add("dark-mode-body");
      }
    }

    for( var i = 0; i < headerFooterElements.length; ++i )
    {
      if( document.getElementById(headerFooterElements[i]) )
      {
        document.getElementById(headerFooterElements[i]).classList.add("dark-mode-header-footer");
      }
    }
  }

  function changeBackgroundImage()
  {
    /**
     * Start with the 5 cases of each different page
    */
    if( window.location.href == "https://jawniss.github.io/" || window.location.href == "https://jawniss.github.io/#portfolio" ||
    window.location.href ==  "https://jawniss.github.io/page2/#portfolio" || window.location.href == "https://jawniss.github.io/page3/#portfolio" ||
    window.location.href == "https://jawniss.github.io/page4/#portfolio" ||
    window.location.href == "https://johnaswong.ca/" || window.location.href == "https://johnaswong.ca/#portfolio" ||
    window.location.href ==  "https://johnaswong.ca/page2/#portfolio" || window.location.href == "https://johnaswong.ca/page3/#portfolio" ||
    window.location.href == "https://johnaswong.ca/page4/#portfolio" )
    {
      if( darkmode == "on" )
      {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Edmonton-Background-Dark.png)";
      } else {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Ocean-Background.png)";
      }
    } else if ( window.location.href == "https://jawniss.github.io/restringing/" || window.location.href == "https://johnaswong.ca/restringing/" ) {
      if( darkmode == "on" )
      {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Edmonton-Background-Dark.png)";
      } else {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Ocean-Background.png)";
      }
    } else if ( window.location.href == "https://jawniss.github.io/resume/" || window.location.href == "https://johnaswong.ca/resume/" ) {
      if( darkmode == "on" )
      {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Edmonton-Background-Dark.png)";
      } else {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Ocean-Background.png)";
      }
    } else if ( window.location.href == "https://jawniss.github.io/aboutme/" || window.location.href == "https://johnaswong.ca/aboutme/" ) {
      if( darkmode == "on" )
      {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Edmonton-Background-Dark.png)";
      } else {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Ocean-Background.png)";
      }
    } else if ( window.location.href == "https://jawniss.github.io/contactme/" || window.location.href == "https://johnaswong.ca/contactme/" ) {
      if( darkmode == "on" )
      {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Edmonton-Background-Dark.png)";
      } else {
        document.getElementById("mainBody").style.backgroundImage="url(/img/Ocean-Background.png)";
      }
    }
  }
</script>

<script type="text/javascript">
  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }
  function eraseCookie(name) {   
      document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }

  var darkmode = "";

  function checkCookie() {
    let darkmodeSaved = getCookie("darkmodeCookie");

    if (darkmodeSaved == "on") 
    {
      darkmode = "on";
      // console.log( "DM on ", darkmode );
      setCookie( "darkmodeCookie", "on", 7 );
    } else {
      darkmode = "off";
      // console.log( "DM off ", darkmode );
      setCookie( "darkmodeCookie", "off", 7 );
    }
  }

  // This fires once page is loaded, rest of normal code continues on first
  window.onload = checkCookie;

  // Have to wait for checkCookie first, so this is encased in page load wait function
  window.addEventListener( 'load' , function() 
  {
    // This is the on start one time darkmode set
    if( darkmode == "off" || darkmode == "" )
    {
      turnDarkmodeOff();
      document.getElementById("darkmodeButton").innerText = "darkmode == false;";
      document.getElementById("darkmodeButton").classList.add("buttonDarkmodeOff");

    // darkmode is on so we gotta turn it on
    } else if( darkmode == "on" ) {
      turnDarkmodeOn();
      document.getElementById("darkmodeButton").innerText = "darkmode == true;";
      document.getElementById("darkmodeButton").classList.add("buttonDarkmodeOn");
    } else {
      console.log( "Shouldn't be here " );
    }
    changeBackgroundImage();
  })
</script>

<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}" id="mainBody">

<div class="main container" id="top">
  <script>
    if( darkmode == "on" ) 
    {
      document.getElementById("top").classList.add("dark-mode");
    } else if( darkmode == "off" ) {
      document.getElementById("top").classList.remove("dark-mode");
    }
  </script>
  

  {% if site.enable_nav == true %}
  <nav class="navbar navbar-default navbar-fixed-top" id="header">
    <script>
      if( darkmode == "on" ) 
      {
        document.getElementById("header").classList.add("dark-mode");
      } else if( darkmode == "off" ) {
        document.getElementById("header").classList.remove("dark-mode");
      }
      
    </script>
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" style="font-family: Arial, Helvetica, sans-serif;" class="navbar-brand" id="adminName">{{ site.admin_name }}</a>

              <button onclick="myFunction()" class="buttonGeneral navbar-brand" id="darkmodeButton" style="margin-top: 10px; margin-bottom: 10px; margin-left: 0px;"> Darkmode Button </button>

              <script>
              function myFunction() {
                // darkmode is on, so we gotta turn it off
                if( darkmode == "on" )
                {
                  darkmode = "off";
                  setCookie("darkmodeCookie", "off", 7);
                  turnDarkmodeOff();
                  document.getElementById("darkmodeButton").innerText = "darkmode == false;";
                  document.getElementById("darkmodeButton").classList.add("buttonDarkmodeOff");
                  document.getElementById("darkmodeButton").classList.remove("buttonDarkmodeOn");

                  // darkmode is off so we gotta turn it on
                } else if( darkmode == "off" ) {
                  darkmode = "on";
                  setCookie("darkmodeCookie", "on", 7);
                  turnDarkmodeOn();
                  document.getElementById("darkmodeButton").innerText = "darkmode == true;";
                  document.getElementById("darkmodeButton").classList.add("buttonDarkmodeOn");
                  document.getElementById("darkmodeButton").classList.remove("buttonDarkmodeOff");
                }
                changeBackgroundImage();
              }
              </script>

          </div>



          <div id="navbar" class="navbar-collapse collapse">
          <!-- <div id="navbar" class="navbar-collapse collapse navPagination"> -->
            <ul class="nav navbar-nav navbar-right navPagination">
              {% for item in site.nav_item %}
                <li>
                  <a id="{{ item.text }}" href="{{ item.url }}" style="font-family: Arial, Helvetica, sans-serif;">{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>

            <script>
              if( window.location.href == "https://jawniss.github.io/" || window.location.href == "https://jawniss.github.io/#portfolio" 
              || window.location.href == "https://jawniss.github.io/page2/#portfolio" || window.location.href == "https://jawniss.github.io/page3/#portfolio" || 
              window.location.href == "https://jawniss.github.io/page4/#portfolio" || 
              window.location.href == "https://johnaswong.ca/" || window.location.href == "https://johnaswong.ca/#portfolio" 
              || window.location.href == "https://johnaswong.ca/page2/#portfolio" || window.location.href == "https://johnaswong.ca/page3/#portfolio" || 
              window.location.href == "https://johnaswong.ca/page4/#portfolio" )
              {
                // document.getElementById("page1").innerHTML = <a href="https://jawniss.github.io/#portfolio" class="active">1</a>;
                document.getElementById("Home").className += "active";
              } else if ( window.location.href == "https://jawniss.github.io/restringing/" || window.location.href == "https://johnaswong.ca/restringing/" ) {
                document.getElementById("Restringing (badminton)").className += "active";
              } else if ( window.location.href == "https://jawniss.github.io/resume/" || window.location.href == "https://johnaswong.ca/resume/" ) {
                document.getElementById("Resume").className += "active";
              } else if ( window.location.href == "https://jawniss.github.io/aboutme/" || window.location.href == "https://johnaswong.ca/aboutme/" ) {
                document.getElementById("About me").className += "active";
              } else if ( window.location.href == "https://jawniss.github.io/contactme/" || window.location.href == "https://johnaswong.ca/contactme/" ) {
                document.getElementById("Contact me").className += "active";
              }
            </script>
          </div>
      </div>
  </nav>
  {% endif %}
