{% if paginator.total_pages > 1 %}

<table style="width:100%">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
    </colgroup>
<center>
    <nav class="pagination-wrap">
        <ul class="pagination">
                <tr>
                    <!-- Filler column -->
                    <th>
                        &nbsp;
                    </th>
                    <th style="text-align: right;">
                        {% if paginator.previous_page %}
                            <div class="pagination">
                                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </div>

                            <!-- Darkmode widget -->
                            <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
                            <script src="./script.js"></script>

                            <script>

                                const options =
                                {
                                    bottom: '32px', // default: '32px'
                                    right: '32px', // default: '32px'
                                    left: 'unset', // default: 'unset'
                                    time: '0.5s', // default: '0.3s'
                                    mixColor: '#fff', // default: '#fff'
                                    // backgroundColor: '#fff',  // default: '#fff'
                                    backgroundColor: '',  // default: '#fff'
                                    buttonColorDark: '#100f2c',  // default: '#100f2c'
                                    buttonColorLight: '#fff', // default: '#fff'
                                    saveInCookies: true, // default: true,
                                    label: '💡', // default: ''
                                    autoMatchOsTheme: true // default: true
                                }
                        
                                const darkmode = new Darkmode(options);
                        
                                // For some reason having it toggled on at the start breaks it
                                // darkmode.toggle();
                                darkmode.showWidget();
                        
                            </script>
                        {% endif %}
                    </th>

                    <th>
                            <center>
                                <div class="pagination">
                                    <!-- <a href="#" class="active">2</a> -->
                                    <p id="page1">
                                        <a href="https://jawniss.github.io/#portfolio">1</a>
                                    </p>

                                    <p id="page2">
                                        <a href="https://jawniss.github.io/page2/#portfolio">2</a>
                                    </p>

                                    <p id="page3">
                                        <a href="https://jawniss.github.io/page3/#portfolio">3</a>
                                    </p>
                                    
                                    <script>
                                        if( window.location.href == "https://jawniss.github.io/" || window.location.href == "https://jawniss.github.io/#portfolio" )
                                        {
                                            document.getElementById("page1").innerHTML = <a href="https://jawniss.github.io/#portfolio" class="active">1</a>;
                                        } else if ( window.location.href == "https://jawniss.github.io/page2/#portfolio" ) {
                                            document.getElementById("page2").innerHTML = <a href="https://jawniss.github.io/page2/#portfolio" class="active">2</a>;
                                        } else if ( window.location.href == "https://jawniss.github.io/page3/#portfolio" ) {
                                            document.getElementById("page3").innerHTML = <a href="https://jawniss.github.io/page3/#portfolio" class="active">3</a>;
                                        }
                                    </script>
                                    
                                </div>
                            </center>
                    </th>

                    <th style="text-align: left">
                        {% if paginator.next_page %}
                            <div class="pagination">
                                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </div>

                            <!-- Darkmode widget -->
                            <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
                            <script src="./script.js"></script>

                            <script>            
                                const options =
                                {
                                    bottom: '32px', // default: '32px'
                                    right: '32px', // default: '32px'
                                    left: 'unset', // default: 'unset'
                                    time: '0.5s', // default: '0.3s'
                                    mixColor: '#fff', // default: '#fff'
                                    // backgroundColor: '#fff',  // default: '#fff'
                                    backgroundColor: '',  // default: '#fff'
                                    buttonColorDark: '#100f2c',  // default: '#100f2c'
                                    buttonColorLight: '#fff', // default: '#fff'
                                    saveInCookies: true, // default: true,
                                    label: '💡', // default: ''
                                    autoMatchOsTheme: true // default: true
                                }
                        
                                const darkmode = new Darkmode(options);
                                // darkmode.toggle();
                                darkmode.showWidget();
                        
                            </script>
                        {% endif %}
                    </th>

                    <!-- Filler column -->
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </table>

        </ul>
    </nav>
</center>
</table>

{% endif %}
