{% if paginator.total_pages > 1 %}

<style>
    table, th, td {
      border: 1px solid black;
    }
</style>

<table style="width:100%">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
    </colgroup>
<center>
    <nav class="pagination-wrap">
        <ul class="pagination">
                <tr>
                    <!-- Filler column -->
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        {% if paginator.previous_page %}
                            <!-- <center> <h3> <font size="5"> Previous page </font> </h3> </center> -->
                            <center>
                                <!-- <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a> -->

                                <div class="pagination" style="text-align: right">
                                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </div>

                                <!-- Darkmode widget -->
                                <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
                                <script src="./script.js"></script>

                                <script>

                                    const options =
                                    {
                                        bottom: '32px', // default: '32px'
                                        right: '32px', // default: '32px'
                                        left: 'unset', // default: 'unset'
                                        time: '0.5s', // default: '0.3s'
                                        mixColor: '#fff', // default: '#fff'
                                        // backgroundColor: '#fff',  // default: '#fff'
                                        backgroundColor: '',  // default: '#fff'
                                        buttonColorDark: '#100f2c',  // default: '#100f2c'
                                        buttonColorLight: '#fff', // default: '#fff'
                                        saveInCookies: true, // default: true,
                                        label: '💡', // default: ''
                                        autoMatchOsTheme: true // default: true
                                    }
                            
                                    const darkmode = new Darkmode(options);
                            
                                    // For some reason having it toggled on at the start breaks it
                                    // darkmode.toggle();
                                    darkmode.showWidget();
                            
                                </script>
                            </center>
                        {% endif %}
                    </th>

                    <th>
                            <center>
                                <div class="pagination">
                                    <!-- <a href="#" class="active">2</a> -->

                                    <a href="https://jawniss.github.io/#portfolio">1</a>
                                    <a href="https://jawniss.github.io/page2/#portfolio">2</a>
                                    <a href="https://jawniss.github.io/page3/#portfolio">3</a>
                                </div>
                            </center>
                    </th>

                    <th>
                        {% if paginator.next_page %}
                            <!-- <center> <h3> <font size="5"> Next page </font> </h3> </center> -->
                            <center>
                                <!-- <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a> -->

                                <div class="pagination" style="text-align: left">
                                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}#portfolio" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </div>

                                <!-- Darkmode widget -->
                                <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
                                <script src="./script.js"></script>

                                <script>            
                                    const options =
                                    {
                                        bottom: '32px', // default: '32px'
                                        right: '32px', // default: '32px'
                                        left: 'unset', // default: 'unset'
                                        time: '0.5s', // default: '0.3s'
                                        mixColor: '#fff', // default: '#fff'
                                        // backgroundColor: '#fff',  // default: '#fff'
                                        backgroundColor: '',  // default: '#fff'
                                        buttonColorDark: '#100f2c',  // default: '#100f2c'
                                        buttonColorLight: '#fff', // default: '#fff'
                                        saveInCookies: true, // default: true,
                                        label: '💡', // default: ''
                                        autoMatchOsTheme: true // default: true
                                    }
                            
                                    const darkmode = new Darkmode(options);
                                    // darkmode.toggle();
                                    darkmode.showWidget();
                            
                                </script>
                            </center>
                        {% endif %}

                        
                    </th>

                    <!-- Filler column -->
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </table>

        </ul>
    </nav>
</center>
</table>

{% endif %}
