{% include header.html %}
    <main>
        <!-- <div class="container"> -->
            <!-- <div class="row"> -->
                <!-- <div class="col-xs-10"> -->
                <!-- <div class="col-md-8 col-md-offset-2"> -->
                {{ content }}
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->


    </main> 
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>

        const options =
        {
            bottom: '32px', // default: '32px'
            right: '32px', // default: '32px'
            left: 'unset', // default: 'unset'
            time: '0.5s', // default: '0.3s'
            mixColor: '#fff', // default: '#fff'
            // backgroundColor: '#fff',  // default: '#fff'
            backgroundColor: '',  // default: '#fff'
            buttonColorDark: '#100f2c',  // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: true, // default: true,
            label: '🌙', // default: ''
            autoMatchOsTheme: true // default: true
        }

        const darkmode = new Darkmode(options);

        // For some reason having it toggled on at the start breaks it
        // darkmode.toggle();
        darkmode.showWidget();

    </script>
    
{% include footer.html %}
