{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %}

            <!-- <div style="clear: both;">
              <div style="float: right;">
                <img src="/img/Graduation-Picture.jpg" alt="My graduation photo in 2021" width="250" height="250">
              </div>
              <div>
              <!-- h2 I think is header 2 -->
                <h2> About me!</h2>
                <!-- Most likely p for paragraph -->
                <p> I'm a 22 year old born and raised in Edmonton, Alberta, Canada. My family and I are Cantonese. I attended the University of Alberta and graduated with a Computer Engineering degree in 2021. </p>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
