<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include header.html %}

  <article>
    <div class="container" id="innerContainer" style="width: auto;">
      <script>
        if( darkmode == "on" ) 
        {
          document.getElementById("innerContainer").classList.add("dark-mode");
        } else if( darkmode == "off" ) {
          document.getElementById("innerContainer").classList.remove("dark-mode");
        }
      </script>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          {{ content }}

        </div>
      </div>
    </div>
  </article>

{% include footer.html %}
